.container-fluid {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

header {
  background-image: url(../images/header/home-presentation-2048x981.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px; }
  header .header {
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px; }
    header .header .logo_inicio {
      margin-top: 20px;
      width: 165px;
      height: 100px; }
    header .header .navegador {
      margin-top: 20px; }
    header .header .arriba {
      margin-right: 20px; }
    header .header .icono_mail {
      width: 18px;
      height: 15px; }
    header .header .icono_redes {
      width: 18px;
      height: 18px; }
    header .header .btn-outline-light {
      border: solid white 1px;
      border-radius: 100px;
      font-size: 0.9rem;
      margin: 5px; }
    header .header .btn-outline-light:hover {
      background-color: #e54848;
      color: white; }
    header .header .link_header {
      margin: 5px;
      text-decoration: none;
      color: white; }
    header .header .link_header:hover {
      color: #e54848;
      font-weight: 400; }
    header .header .nav-item-1 {
      border-bottom: solid transparent 4px; }
      header .header .nav-item-1 .nav-link {
        color: white;
        padding-right: 15px;
        padding-left: 15px; }
    header .header .nav-item-2 {
      border-bottom: solid transparent 4px; }
      header .header .nav-item-2 .nav-link {
        color: white;
        padding-right: 15px;
        padding-left: 15px; }
    header .header .nav-item-3 {
      border-bottom: solid transparent 4px; }
      header .header .nav-item-3 .nav-link {
        color: white;
        padding-right: 15px;
        padding-left: 15px; }
    header .header .nav-item-4 {
      border-bottom: solid transparent 4px; }
      header .header .nav-item-4 .nav-link {
        color: white;
        padding-right: 15px;
        padding-left: 15px; }
    header .header .item-1:hover {
      color: #e54848;
      font-weight: 400; }
    header .header .nav-item-1:hover {
      border-bottom: solid #e54848 4px; }
    header .header .item-2:hover {
      color: #72ffd0;
      font-weight: 400; }
    header .header .nav-item-2:hover {
      border-bottom: solid #72ffd0 4px; }
    header .header .item-3:hover {
      color: #a14ea1;
      font-weight: 400; }
    header .header .nav-item-3:hover {
      border-bottom: solid #a14ea1 4px; }
    header .header .item-4:hover {
      color: #217cf5;
      font-weight: 400; }
    header .header .nav-item-4:hover {
      border-bottom: solid #217cf5 4px; }
    header .header .btn-danger {
      border: solid #e54848 2px;
      border-radius: 104px; }
    header .header .btn-danger a {
      text-decoration: none;
      color: white; }
    header .header .btn-danger:hover {
      background-color: transparent;
      border: solid #e54848 2px; }
    header .header .btn-danger a:hover {
      color: #e54848; }
    header .header .texto {
      margin-top: 120px;
      margin-bottom: 120px; }
      header .header .texto h2 {
        font-family: "Hepta Slab", serif;
        color: white;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 250%; }
      header .header .texto p {
        color: white;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 600;
        font-size: 110%; }

footer {
  margin: 0;
  padding: 0; }
  footer .footer {
    margin: 0;
    padding: 0; }
    footer .footer .linea_gruesa {
      border: solid #e54848 3px;
      opacity: 1; }
    footer .footer .logo_footer {
      width: 165px;
      height: 100px; }
    footer .footer .bandera {
      width: 35px;
      height: 35px;
      margin: 10px; }
    footer .footer .icono_redes {
      width: 30px;
      height: 30px;
      margin: 3px; }
    footer .footer p {
      margin: 0; }
    footer .footer .nav-link {
      text-decoration: none;
      color: black;
      padding: 2px; }
    footer .footer .nav-link:hover {
      color: #e54848; }
    footer .footer .direccion {
      margin: 0;
      padding: 0; }
    footer .footer .copyright {
      margin: 20px;
      margin-left: 100px; }
    footer .footer .legales {
      margin: 20px;
      text-decoration: none;
      color: black; }
    footer .footer .legales:hover {
      color: #e54848;
      font-weight: 500; }

.main-inicio .linkBotones {
  text-decoration: none; }

.main-inicio .btn-light {
  width: 300px;
  height: 180px;
  border-radius: 15px;
  box-shadow: 2px 2px 3px #e8e4e4;
  padding-left: 35px;
  margin-top: -70px;
  margin-bottom: 50px; }

.main-inicio .imagenBotones {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-bottom: 10px; }

.main-inicio .imagenBotonesTrabajo {
  width: 60px;
  height: 50px;
  margin-left: 5px;
  margin-bottom: 10px; }

.main-inicio .textoBotones {
  font-size: 1.1rem;
  color: #133a61;
  padding: 0px;
  margin: 0;
  margin-left: 5px; }

.main-inicio .btn-light:hover {
  transform: scale(1.1);
  background-color: white; }

.main-inicio .soluciones {
  background-image: url(../images/iconos/home-services.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: 15%;
  margin: 0;
  padding: 0; }

.main-inicio .solucionesHeader {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 0px; }

.main-inicio .imagenSoluciones {
  height: 150px;
  width: 150px; }

.main-inicio .textoSolucionesNoColor {
  color: #133a61;
  font-family: "Hepta Slab", serif;
  font-size: 180%;
  font-weight: 400;
  margin-left: 35px;
  margin-bottom: 0px; }

.main-inicio .textoSolucionesColor {
  color: #e54848;
  font-weight: 600;
  font-family: "Hepta Slab", serif;
  font-size: 180%;
  margin-left: 35px; }

.main-inicio .boxSoluciones {
  height: 300px;
  width: 300px; }

.main-inicio .iconoSoluciones {
  height: 70px;
  width: 80px; }

.main-inicio .parrafoSoluciones {
  color: #133a61;
  font-family: "Hepta Slab", serif;
  margin: 30px;
  font-weight: 500; }

.main-inicio .linkSoluciones {
  color: #e54848;
  text-decoration: none;
  font-family: "Hepta Slab", serif;
  font-weight: 600; }

.main-inicio .beneficios {
  background-color: #013e49;
  margin: 0;
  padding: 0; }

.main-inicio .beneficiosEncabezado {
  margin-top: 50px;
  margin-bottom: 50px; }

.main-inicio .imagenBeneficios {
  height: 150px;
  width: 150px;
  margin-top: 50px; }

.main-inicio .textoBeneficiosNoColor {
  color: white;
  font-family: "Hepta Slab", serif;
  font-size: 180%;
  font-weight: 400;
  margin-left: 35px; }

.main-inicio .textoBeneficiosColor {
  color: #18dbca;
  font-weight: 600;
  font-family: "Hepta Slab", serif;
  font-size: 180%;
  margin-left: 35px;
  margin-top: 50px;
  margin-bottom: 0px; }

.main-inicio .boxBeneficios {
  height: 400px;
  width: 200px;
  padding-top: 50px; }

.main-inicio .iconoBeneficios {
  height: 65px;
  width: 60px; }

.main-inicio .iconoBeneficiosBorde {
  border-radius: 100px;
  box-shadow: 0px 5px 10px;
  padding: 30px; }

.main-inicio .parrafoBeneficios {
  color: white;
  font-family: "Hepta Slab", serif;
  margin: 30px;
  font-weight: 500; }

.main-inicio .lineaBeneficios {
  border: solid #18dbca 3px;
  opacity: 1;
  margin: 0; }

.main-inicio .oportunidades {
  margin: 70px;
  margin-left: 120px;
  padding: 0; }

.main-inicio .imagenOportunidades {
  height: 500px;
  width: 500px;
  margin: 0;
  padding: 0; }

.main-inicio .iconoOportunidades {
  height: 130px;
  width: 130px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  z-index: 10; }

.main-inicio .cuadroOportunidades {
  background-color: #f6f6ff;
  z-index: -1; }

.main-inicio .textoOportunidadesNoColor {
  color: #133a61;
  font-family: "Hepta Slab", serif;
  font-size: 180%;
  font-weight: 400;
  margin-left: 10px; }

.main-inicio .textoOportunidadesColor {
  color: #a14ea1;
  font-weight: 600;
  font-family: "Hepta Slab", serif;
  font-size: 180%;
  margin-left: 100px; }

.main-inicio .textoOportunidadesDescrip {
  color: #133a61;
  font-weight: 400;
  margin-left: 100px; }

.main-inicio .btn-primary {
  border: solid #a14ea1 2px;
  border-radius: 104px;
  background-color: transparent;
  color: #a14ea1;
  margin-left: 100px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px; }

.main-inicio .btn-primary:hover {
  background-color: #a14ea1;
  color: white;
  border: solid #a14ea1 2px; }

.main-inicio .proyecto {
  margin: 70px;
  margin-left: 120px;
  padding: 0; }

.main-inicio .imagenProyecto {
  height: 550px;
  width: 500px;
  margin: 0;
  padding: 0; }

.main-inicio .iconoProyecto {
  height: 130px;
  width: 130px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  z-index: 10; }

.main-inicio .tituloProyecto {
  font-family: "Hepta Slab", serif;
  font-size: 180%;
  font-weight: 500;
  margin-bottom: 30px; }

.main-inicio .formProyecto {
  margin-top: 120px;
  padding-right: 150px;
  padding-left: 100px;
  background-color: #f6f6ff;
  z-index: -1; }

.main-inicio .mb-3 {
  box-sizing: 10px; }

.main-inicio .form-control {
  border: solid black 0.5px;
  border-radius: 0px; }

.main-inicio .form-control:focus {
  box-shadow: none;
  border: solid #e54848 1px; }

.main-inicio .btn-secondary {
  background-color: #e54848;
  border: solid #e54848 2px;
  border-radius: 104px;
  padding-left: 250px;
  padding-right: 250px;
  margin: 50px; }

.main-inicio .btn-secondary:hover {
  background-color: transparent;
  color: #e54848;
  border: solid #e54848 2px; }

.main-inicio .partners {
  margin: 0;
  padding: 0; }

.main-inicio .tituloPartners {
  color: #18dbca;
  font-family: "Hepta Slab", serif;
  font-size: 200%;
  font-weight: 400;
  margin-bottom: 30px;
  margin-left: 90px; }

.main-inicio .insights {
  background-image: url(../images/iconos/home-insights.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: 12%;
  margin-right: 20px; }

.main-inicio .insightHeader {
  background-color: #f6f6ff;
  height: 350px;
  z-index: -1; }

.main-inicio .tituloInsights {
  color: #133a61;
  font-family: "Hepta Slab", serif;
  font-size: 250%;
  font-weight: 600;
  margin-top: -75px;
  margin-left: 30px; }

.main-inicio .imagenInsights {
  height: 150px;
  width: 150px;
  margin-left: 130px;
  margin-top: -95px; }

.main-inicio .boxNoticia {
  margin: 10px;
  margin-top: -90px;
  height: 400px;
  width: 400px;
  border-bottom: solid #217cf5 2px; }
  .main-inicio .boxNoticia a {
    text-decoration: none; }

.main-inicio .boxImgNoticia {
  width: 400px;
  height: 200px;
  overflow: hidden; }

.main-inicio .imgNoticia {
  width: 400px;
  height: 200px; }

.main-inicio .textoNoticia {
  padding: 15px; }
  .main-inicio .textoNoticia p {
    color: #133a61; }
  .main-inicio .textoNoticia h5 {
    color: #217cf5;
    font-weight: 500; }

.main-inicio .boxNoticia:hover .imgNoticia {
  transform: scale(1.2);
  transition-duration: 1s; }

.main-inicio .boxNoticia:hover .textoNoticia p {
  color: #356eb9; }
