header{
    background-image: url(../images/header/home-presentation-1536x736.jpg);
    height: 90vh;
    #header{
        padding-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        #logo_inicio{
            margin-top: 20px;
            width: 165px;
            height: 100px;
        }
        #navegador{
            margin-top: 20px;
        }
        .arriba{
            margin-right: 20px;
        }
        .icono_mail{
            width: 18px;
            height: 15px;
        }
        .icono_redes{
            width: 18px;
            height: 18px;
        }
        .btn-outline-light{
            border: solid white 1px;
            border-radius: 100px;
            font-size: 0.9rem;
            margin: 5px;
        }
        .btn-outline-light:hover{
            background-color: rgb(229, 72, 72);
            color: white;
        }
        .link_header{
            margin: 5px;
            text-decoration: none;
            color: white;
        }
        .link_header:hover{
            color: rgb(229, 72, 72);
            font-weight: 500;
        }
        .nav-link{
            color: white;
            padding-right: 15px;
            padding-left: 15px;
        }
        .item-1:hover{
            color: rgb(229, 72, 72);
            font-weight: 500;
        }
        .nav-item-1:hover{
            border-bottom: solid rgb(229, 72, 72) 4px;
        }
        .item-2:hover{
            color: rgb(114, 255, 208);
            font-weight: 500;
        }
        .nav-item-2:hover{
            border-bottom: solid rgb(114, 255, 208) 4px;
        }
        .item-3:hover{
            color: rgb(161, 78, 161);
            font-weight: 500;
        }
        .nav-item-3:hover{
            border-bottom: solid rgb(161, 78, 161) 4px;
        }
        .item-4:hover{
            color: rgb(33, 124, 245);
            font-weight: 500;
        }
        .nav-item-4:hover{
            border-bottom: solid rgb(33, 124, 245) 4px;
        }
        .btn-danger{
            border: solid rgb(229, 72, 72) 1px;
            border-radius: 100px;
        }
        .btn-danger:hover{
            background-color: transparent;
            color: rgb(229, 72, 72);
            font-weight: 500;
            border: solid rgb(229, 72, 72) 2px;
        }
        h2{
            color: white;
            margin: 15px;
            padding: 10px;
        }
        p{
            color: white;
            margin: 15px;
            padding: 10px;
        }
    }
}
