header{
    width: 100%;
    margin: 0;
    padding: 0;
    .inicio{
        background-image: url(../images/header/home-presentation-2048x981.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 700px;
        padding-top: 20px;
        padding-left: 80px;
        padding-right: 80px;
        margin: 0;
        .logo_inicio{
            display: block;
            margin-top: 20px;
            width: 165px;
            height: 100px;
        }
        .logo_reducido_color{
            display: none;
        }
        .logo_scrolling{
            display: none;
        }
        .arriba{
            display: block;
            margin-right: 20px;
        }
        .icono_mail{
            width: 18px;
            height: 15px;
        }
        .icono_redes{
            width: 18px;
            height: 18px;
            position: relative;
            top: -2px;
            left: 1px;
        }
        .btn-outline-light{
            border: solid $blanco 1px;
            border-radius: 100px;
            font-size: 0.9rem;
            margin: 5px;
        }
        .btn-outline-light:hover{
            background-color: $rojo;
            color: $blanco;
        }
        .link_header{
            margin: 5px;
            text-decoration: none;
            color: $blanco;
        }
        .link_header:hover{
            color: $rojo;
            font-weight: 400;
        }
        .navbar{
            background-color: none;
        }
        .navbar-toggler-icon{
            display: none;
        }
        .navbar-toggler{
            border: none;
            visibility: hidden;
        }
        .nav-item-1{
            border-bottom: solid transparent 4px;
            .nav-link{
                color: $blanco;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .nav-item-2{
            border-bottom: solid transparent 4px;
            .nav-link{
                color: $blanco;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .nav-item-3{
            border-bottom: solid transparent 4px;
            .nav-link{
                color: $blanco;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .nav-item-4{
            border-bottom: solid transparent 4px;
            .nav-link{
                color: $blanco;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .item-1:hover{
            color: $rojo;
            font-weight: 400;
        }
        .nav-item-1:hover{
            border-bottom: solid $rojo 4px;
        }
        .item-2:hover{
            color: $verdeagua;
            font-weight: 400;
        }
        .nav-item-2:hover{
            border-bottom: solid $verdeagua 4px;
        }
        .item-3:hover{
            color: $violeta;
            font-weight: 400;
        }
        .nav-item-3:hover{
            border-bottom: solid $violeta 4px;
        }
        .item-4:hover{
            color: $azul;
            font-weight: 400;
        }
        .nav-item-4:hover{
            border-bottom: solid $azul 4px;
        }
        .btn-danger{
            border: solid $rojo 2px;
            border-radius: 104px;
        }
        .btn-danger a{
            text-decoration: none;
            color: $blanco;
        }
        .btn-danger:hover{
            background-color: transparent;
            border: solid $rojo 2px;
        }
        .btn-danger a:hover{
            color: $rojo;
        }
        .nav-item-5{
            display: none;
        }
        .nav-item-6{
            display: none;
        }.nav-item-7{
            display: none;
        }
        .texto{
            margin-top: 20px;
            margin-bottom: 220px;
            h2{
                font-family: $letraSofre;
                color: $blanco;
                margin-top: 15px;
                margin-bottom: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 250%;           
            }
            p{
                color: $blanco;
                margin-top: 15px;
                margin-bottom: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                font-weight: 600;
                font-size: 115%;
            }
        }
            
    }
    .newsletter{
        display: none;
    }
    button #newsletter :active{
        .newsletter{
            display: block;
            position: relative;
            top: 10%;
            left: 20%;
            width: 800px;
            height: 800px;
            background-color: $blanco;
            z-index: 20;
            .btn-close{
                margin: 50px;
            }
            .newsletter_icon{
                width: 80px;
                height: 80px;
                margin: 20px;
                margin-top: -75px;
                margin-left: 50px;
            }
            .newsletter_title{
                font-size: 130%;
                font-family: $letraSofre;
                color: $letrazul;
                margin-left: 50px;
                width: 550px;
            }
            .mb-3{
                margin: 20px 50px;
                font-family: $letraSofre;
                color: $letrazul;
            }
            .form-control{
                border-radius: 0px;
                border: solid 1px $letrazul;
                width: 300px;
                height: 50px;
            }
            .form-control:focus{
                box-shadow: none;
                border: solid 1px $celeste;
            }
            .btn-primary{
                background-color: $celesteOscuro;
                border: solid 2px $celesteOscuro;
                border-radius: 80px;
                margin: 20px 50px;
                width: 700px;
            }
            .btn-primary:hover{
                background-color: transparent;
                color: $celesteOscuro;
            }
        }

    }
    
    .headerPages{
        background-color: $blanco;
        width: 100%;
        height: 150px;
        padding-top: 10px;
        padding-left: 80px;
        padding-right: 80px;
        .logo_pages{
            display: block;
            margin-top: 10px;
            width: 155px;
            height: 90px;
        }
        .logo_reducido_color{
            display: none;
        }
        .logo_scrolling{
            display: none;
        }
        .arriba{
            margin-right: 20px;
        }
        .icono_mail_pages{
            width: 18px;
            height: 15px;
        }
        .icono_redes_pages{
            width: 18px;
            height: 18px;
            position: relative;
            top: -2px;
            left: 1px;
        }
        .btn-outline-light{
            border: solid $letrazul 1px;
            border-radius: 100px;
            font-size: 0.9rem;
            margin: 5px;
            color: $letrazul;
        }
        .btn-outline-light:hover{
            background-color: $rojo;
            color: $blanco;
            border: solid $blanco 1px;
            .icono_mail_pages{
                filter: invert(100%) saturate(0);
            }
            a .icono_redes_pages{
                filter: invert(100%) saturate(0);
            }
        }
        .link_header_pages{
            margin: 5px;
            text-decoration: none;
            color: $letrazul;
        }
        .link_header_pages:hover{
            color: $rojo;
            font-weight: 400;
        }
        .navbar{
            background-color: none;
        }
        .navbar-toggler-icon{
            display: none;
        }
        .navbar-toggler{
            border: none;
            visibility: hidden;
        }
        .nav-item-1{
            border-bottom: solid transparent 4px;
            .nav-link{
                color: $letrazul;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .nav-item-2{
            border-bottom: solid transparent 4px;
            .nav-link{
                color: $letrazul;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .nav-item-3{
            border-bottom: solid transparent 4px;
            .nav-link{
                color: $letrazul;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .nav-item-4{
            border-bottom: solid transparent 4px;
            .nav-link{
                color: $letrazul;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .item-1:hover{
            color: $rojo;
            font-weight: 400;
        }
        .nav-item-1:hover{
            border-bottom: solid $rojo 4px;
        }
        .item-2:hover{
            color: $verdeagua;
            font-weight: 400;
        }
        .nav-item-2:hover{
            border-bottom: solid $verdeagua 4px;
        }
        .item-3:hover{
            color: $violeta;
            font-weight: 400;
        }
        .nav-item-3:hover{
            border-bottom: solid $violeta 4px;
        }
        .item-4:hover{
            color: $azul;
            font-weight: 400;
        }
        .nav-item-4:hover{
            border-bottom: solid $azul 4px;
        }
        .btn-danger{
            border: solid $rojo 2px;
            border-radius: 104px;
        }
        .btn-danger a{
            text-decoration: none;
            color: $blanco;
        }
        .btn-danger:hover{
            background-color: transparent;
            border: solid $rojo 2px;
        }
        .btn-danger a:hover{
            color: $rojo;
        }
        .nav-item-5{
            display: none;
        }
        .nav-item-6{
            display: none;
        }.nav-item-7{
            display: none;
        }
        .activeQH_nav{
            border-bottom: solid $rojo 4px !important;
        }
        .activeQH_item{
            color: $rojo !important;
            font-weight: 400 !important;
        } 
        .activeQS_nav{
            border-bottom: solid $verdeagua 4px !important;
        }
        .activeQS_item{
            color: $verdeagua !important;
            font-weight: 400 !important;
        }    
        .activeTCN_nav{
            border-bottom: solid $violeta 4px !important;
        }
        .activeTCN_item{
            color: $violeta !important;
            font-weight: 400 !important;
        }    
        .activeBlog_nav{
            border-bottom: solid $azul 4px !important;
        }
        .activeBlog_item{
            color: $azul !important;
            font-weight: 400 !important;
        }              
    }    
    .scrolling{
        position: fixed;
        top: 0;
        left: 0;
        background-color: $blanco;
        height: 100px;
        width: 100%;
        padding-top: 20px;
        padding-left: 80px;
        padding-right: 80px;
        margin: 0;
        box-shadow: 1px 1px 1px rgb(232, 228, 228);
        z-index: 20;
        .logo_scrolling{
            display: block;
            width: 110px;
            height: 70px;
        }
        .logo_inicio{
            display: none;
        }
        .logo_pages{
            display: none;
        }
        .logo_reducido_color{
            display: none;
        }
        .arriba{
            visibility: hidden;
            height: 0px;
        }
        .nav-item-1{
            border-bottom: solid transparent 4px;
            .nav-link{
                color: $letrazul;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .nav-item-2{
            border-bottom: solid transparent 4px;
            .nav-link{
                color: $letrazul;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .nav-item-3{
            border-bottom: solid transparent 4px;
            .nav-link{
                color: $letrazul;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .nav-item-4{
            border-bottom: solid transparent 4px;
            .nav-link{
                color: $letrazul;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .item-1:hover{
            color: $rojo;
            font-weight: 400;
        }
        .nav-item-1:hover{
            border-bottom: solid $rojo 4px;
        }
        .item-2:hover{
            color: $verdeagua;
            font-weight: 400;
        }
        .nav-item-2:hover{
            border-bottom: solid $verdeagua 4px;
        }
        .item-3:hover{
            color: $violeta;
            font-weight: 400;
        }
        .nav-item-3:hover{
            border-bottom: solid $violeta 4px;
        }
        .item-4:hover{
            color: $azul;
            font-weight: 400;
        }
        .nav-item-4:hover{
            border-bottom: solid $azul 4px;
        }
        .btn-danger{
            border: solid $rojo 2px;
            border-radius: 104px;
        }
        .btn-danger a{
            text-decoration: none;
            color: $blanco;
        }
        .btn-danger:hover{
            background-color: transparent;
            border: solid $rojo 2px;
        }
        .btn-danger a:hover{
            color: $rojo;
        }
        .texto{
            visibility: hidden;
        }
    }
    @media (max-width:1200px){
        .inicio{
            padding: 20px;
            height: auto;
            width: 100%;
            background-size: cover;
            background-position: 0% 10%;
            .navegador{
                margin: 0;
                padding: 0;
                .logo_inicio{
                    display: none;
                }
                .logo_reducido_color{
                    display: block;
                    height: 60px;
                    width: auto;
                    padding: 10px 0px;
                    margin: 0;
                }
            }
            .arriba{
                visibility: hidden;
                height: 0px;
                overflow: hidden;
            }
            .header_fixed{
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
                position: fixed;
                top: 0;
                left: 0;
                box-shadow: 1px 1px 1px rgb(232, 228, 228);
            }
            .header_nav{
                background-color: $blanco;
                width: 100%;
                height: 60px;
                margin: 0;
                padding: 0;
            }
            .navbar{
                width: 100%;
                padding: 0;
                margin: 0;
            }
            .navbar-brand{
                margin: 0;
                padding: 0px 0px 0px 40px;
                width: 50%;
                height: 60px;
            }
            .navbar-toggler{
                visibility: visible;
                padding: 15px 0px;
                width: 50%;
                height: auto;
                margin: 0;
            }
            .navbar-toggler:focus{
                box-shadow: none;
            }
            .navbar-toggler-icon{
                display: block;
                margin: 0px 20px;
                padding: 0px 10px;
            }
            .nav-item-1{
                border-bottom: solid transparent 4px;
                width: 100%;
                background-color: $blanco;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .nav-item-2{
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .nav-item-3{
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .nav-item-4{
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .btn-danger{
                border: solid $rojo 2px;
                border-radius: 104px;
            }
            .btn-danger a{
                text-decoration: none;
                color: $blanco;
            }
            .btn-danger:hover{
                background-color: transparent;
                border: solid $rojo 2px;
            }
            .btn-danger a:hover{
                color: $rojo;
            }
            .nav-item-5{
                display: block;
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .nav-item-6{
                display: block;
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }.nav-item-7{
                display: block;
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .texto{
                margin: 100px 0px;
                h2{
                    font-family: $letraSofre;
                    color: $blanco;
                    padding: 10px 0px;
                    font-size: 200%;           
                }
                p{
                    color: $blanco;
                    margin: 15px 0px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-weight: 600;
                    font-size: 95%;
                }
            }     
        }
        .headerPages{
            width: 100%;
            height: 60px;
            margin: 0;
            padding: 0;
            position: fixed;
            top: 0;
            left: 0;
            box-shadow: 1px 1px 1px rgb(232, 228, 228);
            z-index: 20;
            .logo_pages{
                display: none;
            }
            .logo_reducido_color{
                display: block;
                height: 100%;
                width: auto;
                padding: 10px 0px;
                margin: 0;
            }
            .header_fixed{
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
                position: fixed;
                top: 0;
                left: 0;
                box-shadow: 1px 1px 1px rgb(232, 228, 228);
            }
            .header_nav{
                background-color: $blanco;
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
            }
            .navegador{
                margin-top: 0px;
                padding: 0;
                width: 0%;
            }
            .navbar{
                width: 100%;
                background-color: $blanco;
                padding: 0;
                margin: 0;
            }
            .navbar-brand{
                margin: 0;
                padding: 0px 0px 0px 40px;
                width: 50%;
                height: 60px;
            }
            .navbar-toggler{
                visibility: visible;
                padding: 0;
                width: 50%;
                height: auto;
                margin: 0;
            }
            .navbar-toggler:focus{
                box-shadow: none;
            }
            .navbar-toggler-icon{
                display: block;
                margin: 0px 20px;
                padding: 0px 10px;
            }
            .nav-item-1{
                border-bottom: solid transparent 4px;
                width: 100%;
                background-color: $blanco;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .nav-item-2{
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .nav-item-3{
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .nav-item-4{
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .btn-danger{
                border: solid $rojo 2px;
                border-radius: 104px;
            }
            .btn-danger a{
                text-decoration: none;
                color: $blanco;
            }
            .btn-danger:hover{
                background-color: transparent;
                border: solid $rojo 2px;
            }
            .btn-danger a:hover{
                color: $rojo;
            }
            .nav-item-5{
                display: block;
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .nav-item-6{
                display: block;
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }.nav-item-7{
                display: block;
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
        }
        .scrolling{
            background-image: none;
            width: 100%;
            height: 60px;
            margin: 0;
            padding: 0;
            .header_fixed{
                padding: 0;
                margin: 0;
                width: 100%;
                background-color: $blanco;
                position: fixed;
                top: 0;
                left: 0;
                box-shadow: 1px 1px 1px rgb(232, 228, 228);
            }
            .header_nav{
                background-color: $blanco;
                width: 100%;
                height: 60px;
                margin: 0;
                padding: 0;
            }
            .logo_inicio{
                display: none;
            }
            .logo_reducido_color{
                display: block;
                height: 60px;
                width: auto;
                padding: 10px 0px;
                margin: 0;
            }
            .logo_scrolling{
                display: none;
            }
            .arriba{
                visibility: hidden;
                height: 0px;
                overflow: hidden;
            }
            .navbar{
                width: 100%;
                padding: 0;
                margin: 0;
            }
            .navbar-brand{
                margin: 0;
                padding: 0px 0px 0px 40px;
                width: 50%;
                height: 100px;
            }
            .navbar-toggler{
                visibility: visible;
                padding: 0px;
                width: 50%;
                height: auto;
                margin: 0px;
                margin-bottom: 40px;
            }
            .navbar-toggler:focus{
                box-shadow: none;
            }
            .navbar-toggler-icon{
                display: block;
                margin: 0px 20px;
                padding: 0px 10px;
            }
            .nav-item-1{
                border-bottom: solid transparent 4px;
                width: 100%;
                background-color: $blanco;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .nav-item-2{
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .nav-item-3{
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .nav-item-4{
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .btn-danger{
                border: solid $rojo 2px;
                border-radius: 104px;
            }
            .btn-danger a{
                text-decoration: none;
                color: $blanco;
            }
            .btn-danger:hover{
                background-color: transparent;
                border: solid $rojo 2px;
            }
            .btn-danger a:hover{
                color: $rojo;
            }
            .nav-item-5{
                display: block;
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .nav-item-6{
                display: block;
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }.nav-item-7{
                display: block;
                border-bottom: solid transparent 4px;
                .nav-link{
                    color: $letrazul;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
            .texto{
                visibility: hidden;
                height: 0px;
                overflow: hidden;
            }      
        }
    }
    @media (max-width:992px){
        .inicio{
            background-image: url(../images/header/home-mediano.jpg);
            padding: 0px;
            height: auto;
            width: 100%;
            background-size: cover;
            .texto{
                margin: 180px 0px;
                padding: 0px 120px 0px 20px;
                h2{
                    font-family: $letraSofre;
                    color: $blanco;
                    font-size: 170%;
                    margin: 0px 10px 10px 10px;           
                }
                p{
                    color: $blanco;
                    font-weight: 400;
                    font-size: 85%;
                    padding: 0px 10px;
                }
            }
        }
    }
    @media (max-width:576px){
        .inicio{
            background-image: url(../images/header/home-mediano.jpg);
            padding: 0px;
            height: auto;
            width: 100%;
            background-size: cover;
            .texto{
                margin: 100px 0px;
                h2{
                    font-family: $letraSofre;
                    color: $blanco;
                    font-size: 200%;
                    margin: 0px 10px 10px 10px;           
                }
                p{
                    color: $blanco;
                    font-weight: 400;
                    font-size: 95%;
                    padding: 0px 10px;
                }
            }
        }
    }
    @media (max-width:376px){
        .inicio{
            background-image: url(../images/header/home-pequeño.jpg);
            padding: 0px;
            margin: 0;
            height: auto;
            width: 100%;
            background-size: 100%;
            .texto{
                margin: 90px 0px;
                padding: 0px 20px;
                h2{
                    font-family: $letraSofre;
                    color: $blanco;
                    font-size: 170%;
                    margin: 0px 10px 10px 10px;           
                }
                p{
                    color: $blanco;
                    font-weight: 400;
                    font-size: 85%;
                    padding: 0px 10px;
                }
            }
        }
    }
}