header{
    background-image: url(../images/header/home-presentation-1536x736.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    overflow: hidden;
    .header{
        padding-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        .logo_inicio{
            margin-top: 20px;
            width: 165px;
            height: 100px;
        }
        .navegador{
            margin-top: 20px;
        }
        .arriba{
            margin-right: 20px;
        }
        .icono_mail{
            width: 18px;
            height: 15px;
        }
        .icono_redes{
            width: 18px;
            height: 18px;
        }
        .btn-outline-light{
            border: solid $blanco 1px;
            border-radius: 100px;
            font-size: 0.9rem;
            margin: 5px;
        }
        .btn-outline-light:hover{
            background-color: $rojo;
            color: $blanco;
        }
        .link_header{
            margin: 5px;
            text-decoration: none;
            color: $blanco;
        }
        .link_header:hover{
            color: $rojo;
            font-weight: 400;
        }
        .nav-item-1{
            .nav-link{
                color: $blanco;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .nav-item-2{
            .nav-link{
                color: $blanco;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .nav-item-3{
            .nav-link{
                color: $blanco;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .nav-item-4{
            .nav-link{
                color: $blanco;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .item-1:hover{
            color: $rojo;
            font-weight: 400;
        }
        .nav-item-1:hover{
            border-bottom: solid $rojo 4px;
        }
        .item-2:hover{
            color: $verdeagua;
            font-weight: 400;
        }
        .nav-item-2:hover{
            border-bottom: solid $verdeagua 4px;
        }
        .item-3:hover{
            color: $violeta;
            font-weight: 400;
        }
        .nav-item-3:hover{
            border-bottom: solid $violeta 4px;
        }
        .item-4:hover{
            color: $azul;
            font-weight: 400;
        }
        .nav-item-4:hover{
            border-bottom: solid $azul 4px;
        }
        .btn-danger{
            border: solid $rojo 2px;
            border-radius: 104px;
        }
        .btn-danger:hover{
            background-color: transparent;
            color: $rojo;
            border: solid $rojo 2px;
        }
        .texto{
            margin-top: 120px;
            margin-bottom: 120px;
            h2{
                font-family: $letraSofre;
                color: $blanco;
                margin-top: 15px;
                margin-bottom: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 250%;           
            }
            p{
                color: $blanco;
                margin-top: 15px;
                margin-bottom: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                font-weight: 600;
                font-size: 110%;
            }
        }        
    }
}
