.main-inicio{
    .linkBotones{
        text-decoration: none;
    }
    .btn-light{
        width: 300px;
        height: 180px;
        border-radius: 15px;
        box-shadow: 2px 2px 3px rgb(232, 228, 228);
        padding-left: 35px;
        margin-top: -70px;
        margin-bottom: 50px;
    }
    .imagenBotones{
        width: 50px;
        height: 50px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .imagenBotonesTrabajo{
        width: 60px;
        height: 50px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .textoBotones{
        font-size: 1.1rem;
        color: $letrazul;
        padding: 0px;
        margin: 0;
        margin-left: 5px;
    }
    .btn-light:hover{
        transform: scale(1.1);
        background-color: white;
    }
    .soluciones{
        background-image: url(../images/iconos/home-services.png);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
        background-size: 15%;
        margin: 0;
        padding: 0;
    }
    .solucionesHeader{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 0px;
    }
    .imagenSoluciones{
        height: 150px;
        width: 150px;
    }
    .textoSolucionesNoColor{
        color: $letrazul;
        font-family: $letraSofre;
        font-size: 180%;
        font-weight: 400;
        margin-left: 35px;
        margin-bottom: 0px;
    }
    .textoSolucionesColor{
        color: $rojo;
        font-weight: 600;
        font-family: $letraSofre;
        font-size: 180%;
        margin-left: 35px;
    }
    .boxSoluciones{
        height: 300px;
        width: 300px;
    }
    .iconoSoluciones{
        height: 70px;
        width: 80px;
    }
    .parrafoSoluciones{
        color: $letrazul;
        font-family: $letraSofre;
        margin: 30px;
        font-weight: 500;
    }
    .linkSoluciones{
        color: $rojo;
        text-decoration: none;
        font-family: $letraSofre;
        font-weight: 600;
    }
    .beneficios{
        background-color: $fondoVerde;
        margin: 0;
        padding: 0;
    }
    .beneficiosEncabezado{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .imagenBeneficios{
        height: 150px;
        width: 150px;
        margin-top: 50px;
    }
    .textoBeneficiosNoColor{
        color: $blanco;
        font-family: $letraSofre;
        font-size: 180%;
        font-weight: 400;
        margin-left: 35px;
    }
    .textoBeneficiosColor{
        color: $letraverdeagua;
        font-weight: 600;
        font-family: $letraSofre;
        font-size: 180%;
        margin-left: 35px;
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .boxBeneficios{
        height: 400px;
        width: 200px;
        padding-top: 50px;
    }
    .iconoBeneficios{
        height: 65px;
        width: 60px;
    }
    .iconoBeneficiosBorde{
        border-radius: 100px;
        box-shadow: 0px 5px 10px ;
        padding: 30px;
    }
    .parrafoBeneficios{
        color: $blanco;
        font-family: $letraSofre;
        margin: 30px;
        font-weight: 500;
    }
    .lineaBeneficios{
        border: solid $letraverdeagua 3px;
        opacity: 1;
        margin: 0;
    }
    .oportunidades{
        margin: 70px;
        margin-left: 120px;
        padding: 0;
    }
    .imagenOportunidades{
        height: 500px;
        width: 500px;
        margin: 0;
        padding: 0;
    }
    .iconoOportunidades{
        height: 130px;
        width: 130px;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        z-index: 10;
    }
    .cuadroOportunidades{
        background-color: $fondoClarito;
        z-index: -1;
    }
    .textoOportunidadesNoColor{
        color: $letrazul;
        font-family: $letraSofre;
        font-size: 180%;
        font-weight: 400;
        margin-left: 10px;
    }
    .textoOportunidadesColor{
        color: $violeta;
        font-weight: 600;
        font-family: $letraSofre;
        font-size: 180%;
        margin-left: 100px;
    }
    .textoOportunidadesDescrip{
        color: $letrazul;
        font-weight: 400;
        margin-left: 100px;
    }
    .btn-primary{
        border: solid $violeta 2px;
        border-radius: 104px;
        background-color: transparent;
        color: $violeta;
        margin-left: 100px;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .btn-primary:hover{
        background-color: $violeta;
        color: $blanco;
        border: solid $violeta 2px;
    }
    .proyecto{
        margin: 70px;
        margin-left: 120px;
        padding: 0;
    }
    .imagenProyecto{
        height: 550px;
        width: 500px;
        margin: 0;
        padding: 0;
    }
    .iconoProyecto{
        height: 130px;
        width: 130px;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        z-index:10;
    }
    .tituloProyecto{
        font-family: $letraSofre;
        font-size: 180%;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .formProyecto{
        margin-top: 120px;
        padding-right: 150px;
        padding-left: 100px;
        background-color: $fondoClarito;
        z-index: -1;
    }
    .mb-3{
        box-sizing: 10px;
    }
    .form-control{
        border: solid $negro 0.5px;
        border-radius: 0px;
    }
    .form-control:focus{
        box-shadow: none;
        border: solid $rojo 1px;
    }
    .btn-secondary{
        background-color: $rojo;
        border: solid $rojo 2px;
        border-radius: 104px;
        padding-left: 250px;
        padding-right: 250px;
        margin: 50px;
    }
    .btn-secondary:hover{
        background-color: transparent;
        color: $rojo;
        border: solid $rojo 2px;
    }
    .partners{
        margin: 0;
        padding: 0;
    }
    .tituloPartners{
        color: $letraverdeagua;
        font-family: $letraSofre;
        font-size: 200%;
        font-weight: 400;
        margin-bottom: 30px;
        margin-left: 90px;
    }
    .insights{
        background-image: url(../images/iconos/home-insights.png);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
        background-size: 12%;
        margin-right: 20px;
    }
    .insightHeader{
        background-color: $fondoClarito;
        height: 350px;
        z-index: -1;
    }
    .tituloInsights{
        color: $letrazul;
        font-family: $letraSofre;
        font-size: 250%;
        font-weight: 600;
        margin-top: -75px;
        margin-left: 30px;
    }
    .imagenInsights{
        height: 150px;
        width: 150px;
        margin-left: 130px;
        margin-top: -95px;
    }
    .boxNoticia{
        margin: 10px;
        margin-top: -90px;
        height: 400px;
        width: 400px;
        border-bottom: solid $azul 2px;
        a{
            text-decoration: none;
        }
    }
    .boxImgNoticia{
        width: 400px;
        height: 200px;
        overflow: hidden;
    }
    .imgNoticia{
        width: 400px;
        height: 200px;
    }
    .textoNoticia{
        padding: 15px;
        p{
            color: $letrazul;
        }
        h5{
            color: $azul;
            font-weight: 500;
        }
    }
    .boxNoticia:hover{
        .imgNoticia{
            transform: scale(1.2);
            transition-duration: 1s;
        }
        .textoNoticia{
            p{
                color: rgb(53, 110, 185);
            }
        }
    }
}