main{
    margin: 0;
    padding: 0;
}
.mainInicio{
    .botones{
        width: 100%;
        margin: 0;
    }
    .linkBotones{
        text-decoration: none;
    }
    .btn-light{
        width: 300px;
        height: 180px;
        border-radius: 15px;
        box-shadow: 2px 2px 3px rgb(232, 228, 228);
        padding-left: 35px;
        margin-top: -70px;
        margin-bottom: 50px;
        margin-left: 30px;
        margin-right: 30px;
        background-color: white;
    }
    .imagenBotones{
        width: 50px;
        height: 50px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .imagenBotonesTrabajo{
        width: 60px;
        height: 50px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .textoBotones{
        font-size: 1.1rem;
        color: $letrazul;
        padding: 0px;
        margin: 0;
        margin-left: 5px;
    }
    .btn-light:hover{
        transform: scale(1.1);
    }
    .soluciones{
        background-image: url(../images/iconos/home-services.png);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
        background-size: 15%;
        margin: 0;
        padding: 0;
    }
    .solucionesHeader{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 0px;
    }
    .imagenSoluciones{
        height: 150px;
        width: 150px;
    }
    .textoSolucionesNoColor{
        color: $letrazul;
        font-family: $letraSofre;
        font-size: 180%;
        font-weight: 400;
        margin-left: 35px;
        margin-bottom: 0px;
    }
    .textoSolucionesColor{
        color: $rojo;
        font-weight: 600;
        font-family: $letraSofre;
        font-size: 180%;
        margin-left: 35px;
    }
    .boxSoluciones{
        height: 300px;
        width: 300px;
    }
    .iconoSoluciones{
        height: 70px;
        width: 80px;
    }
    .parrafoSoluciones{
        color: $letrazul;
        font-family: $letraSofre;
        margin: 30px;
        font-weight: 500;
    }
    .linkSoluciones{
        color: $rojo;
        text-decoration: none;
        font-family: $letraSofre;
        font-weight: 600;
    }
    .beneficios{
        background-color: $fondoVerde;
        margin: 0;
        padding: 0;
    }
    .beneficiosEncabezado{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .imagenBeneficios{
        height: 150px;
        width: 150px;
        margin-top: 50px;
    }
    .textoBeneficiosNoColor{
        color: $blanco;
        font-family: $letraSofre;
        font-size: 180%;
        font-weight: 400;
        margin-left: 35px;
    }
    .textoBeneficiosColor{
        color: $letraverdeagua;
        font-weight: 600;
        font-family: $letraSofre;
        font-size: 180%;
        margin-left: 35px;
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .boxBeneficios{
        height: 400px;
        width: 200px;
        padding-top: 50px;
    }
    .iconoBeneficios{
        height: 65px;
        width: 60px;
    }
    .iconoBeneficiosBorde{
        border-radius: 100px;
        box-shadow: 0px 5px 10px ;
        padding: 30px;
    }
    .parrafoBeneficios{
        color: $blanco;
        font-family: $letraSofre;
        margin: 30px;
        font-weight: 500;
    }
    .lineaBeneficios{
        border: solid $letraverdeagua 3px;
        opacity: 1;
        margin: 0;
    }
    .oportunidades{
        margin: 70px;
        margin-left: 120px;
        padding: 0;
    }
    .imagenOportunidades{
        height: 500px;
        width: 500px;
        margin: 0;
        padding: 0;
        z-index: 10;
    }
    .iconoOportunidades{
        height: 130px;
        width: 130px;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        z-index: 10;
    }
    .cuadroOportunidades{
        background-color: $fondoClarito;
    }
    .textoOportunidadesNoColor{
        color: $letrazul;
        font-family: $letraSofre;
        font-size: 180%;
        font-weight: 400;
        margin-left: 10px;
    }
    .textoOportunidadesColor{
        color: $violeta;
        font-weight: 600;
        font-family: $letraSofre;
        font-size: 180%;
        margin-left: 100px;
    }
    .textoOportunidadesDescrip{
        color: $letrazul;
        font-weight: 400;
        margin-left: 100px;
    }
    .btn-primary{
        border: solid $violeta 2px;
        border-radius: 104px;
        background-color: transparent;
        color: $violeta;
        margin-left: 100px;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .btn-primary:hover{
        background-color: $violeta;
        color: $blanco;
        border: solid $violeta 2px;
    }
    .proyecto{
        margin: 70px;
        margin-left: 120px;
        padding: 0;
    }
    .imagenProyecto{
        height: 550px;
        width: 500px;
        margin: 0;
        padding: 0;
    }
    .iconoProyecto{
        height: 130px;
        width: 130px;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        z-index:10;
    }
    .tituloProyecto{
        font-family: $letraSofre;
        font-size: 180%;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .formProyecto{
        margin-top: 120px;
        padding-right: 150px;
        padding-left: 100px;
        background-color: $fondoClarito;
    }
    .mb-3{
        box-sizing: 10px;
    }
    .form-control{
        border: solid $negro 0.5px;
        border-radius: 0px;
    }
    .form-control:focus{
        box-shadow: none;
        border: solid $rojo 1px;
    }
    .btn-secondary{
        background-color: $rojo;
        border: solid $rojo 2px;
        border-radius: 104px;
        padding-left: 250px;
        padding-right: 250px;
        margin: 50px;
    }
    .btn-secondary:hover{
        background-color: transparent;
        color: $rojo;
        border: solid $rojo 2px;
    }
    .partners{
        margin: 0;
        padding: 0;
    }
    .tituloPartners{
        color: $letraverdeagua;
        font-family: $letraSofre;
        font-size: 200%;
        font-weight: 400;
        margin-bottom: 30px;
        margin-left: 90px;
    }
    .insights{
        background-image: url(../images/iconos/home-insights.png);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
        background-size: 12%;
        margin-right: 20px;
    }
    .insightHeader{
        background-color: $fondoClarito;
        height: 350px;
        z-index: -1;
    }
    .tituloInsights{
        color: $letrazul;
        font-family: $letraSofre;
        font-size: 250%;
        font-weight: 600;
        margin-top: -75px;
        margin-left: 30px;
    }
    .imagenInsights{
        height: 150px;
        width: 150px;
        margin-left: 130px;
        margin-top: -95px;
    }
    .boxNoticia{
        margin: 10px;
        margin-top: -90px;
        height: 400px;
        width: 400px;
        border-bottom: solid $azul 2px;
        a{
            text-decoration: none;
        }
    }
    .boxImgNoticia{
        width: 400px;
        height: 200px;
        overflow: hidden;
    }
    .imgNoticia{
        width: 400px;
        height: 200px;
    }
    .textoNoticia{
        padding: 15px;
        p{
            color: $letrazul;
        }
        h5{
            color: $azul;
            font-weight: 500;
        }
    }
    .boxNoticia:hover{
        .imgNoticia{
            transform: scale(1.2);
            transition-duration: 1s;
        }
        .textoNoticia{
            p{
                color: rgb(53, 110, 185);
            }
        }
    }
}    
.mainQH{
    .imagenesQH{
        width: 950px;
        height: 550px;
    }
    .seccionQH{
        height: 550px;
    }
    .iconoQH{
        height: 90px;
        width: 90px;
        margin: 50px;
        margin-left: 150px;
    }
    .logoQH{
        height: 90px;
        width: 120px;
        margin: 50px;
        margin-left: 250px;
    }
    .tituloQH{
        font-family: $letraSofre;
        color: $letrazul;
        margin-left: 150px;
        margin-right: 250px;
        margin-top: 10px;
        font-size: 250%;
    }
    .textoQH{
        font-family: $letraSofre;
        color: $letrazul;
        margin-left: 150px;
        font-size: 120%;
        margin-top: 50px;
    }
    .linkBotones{
        text-decoration: none;
    }
    .btn-light{
        width: 300px;
        height: 180px;
        border-radius: 15px;
        box-shadow: 2px 2px 3px rgb(232, 228, 228);
        padding-left: 35px;
        margin-top: -70px;
        margin-bottom: 50px;
        margin-left: 30px;
        margin-right: 30px;
        background-color: white;
    }
    .imagenBotones{
        width: 50px;
        height: 50px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .textoBotones{
        font-size: 1.1rem;
        color: $letrazul;
        padding: 0px;
        margin: 0;
        margin-left: 5px;
    }
    .btn-light:hover{
        transform: scale(1.1);
    }
    .AccClarito{
        background-color: $fondoClarito;
    }
    .imagenesAccQH{
        width: 950px;
        height: 550px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .AccQH{
        padding-left: 170px;
        padding-right: 170px;
    }
    .iconoAccQH{
        width: 60px;
        height: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .tituloAccQH{
        color: $rojo;
        font-family: $letraSofre;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 200%;
    }
    .textoAccQH{
        color: $letrazul;
        font-family: $letraSofre;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .accordion{
        margin-bottom: 50px;
        font-family: $letraSofre;
    }
    .accordion-item{
        border: transparent;
        border-bottom: solid 1px $letrazul;
        border-radius: 0px;
    }
    .accordion-item:focus{
        border-bottom: solid 1px $blanco;
    }
    .accordion-header{
        color: $letrazul;
        border-radius: 0px;  
    }
    .accordion-button{
        color: $letrazul; 
        font-weight: 600;
        border-radius: 0px;
        background-color: none;  
    }
    .accordion-button:focus{
        color: $rojo;
        border-bottom: solid 1px $rojo;
        border-radius: 0px;
        box-shadow: none;
        background-color: $blanco;
    }
    .accordion-body{
        color: $letrazul;
    }
    .proyecto{
        margin: 70px;
        margin-left: 120px;
        padding: 0;
    }
    .imagenProyecto{
        height: 550px;
        width: 500px;
        margin: 0;
        padding: 0;
    }
    .iconoProyecto{
        height: 130px;
        width: 130px;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        z-index:10;
    }
    .tituloProyecto{
        font-family: $letraSofre;
        font-size: 180%;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .formProyecto{
        margin-top: 120px;
        padding-right: 150px;
        padding-left: 100px;
        background-color: $fondoClarito;
    }
    .mb-3{
        box-sizing: 10px;
    }
    .form-control{
        border: solid $negro 0.5px;
        border-radius: 0px;
    }
    .form-control:focus{
        box-shadow: none;
        border: solid $rojo 1px;
    }
    .btn-secondary{
        background-color: $rojo;
        border: solid $rojo 2px;
        border-radius: 104px;
        padding-left: 250px;
        padding-right: 250px;
        margin: 50px;
    }
    .btn-secondary:hover{
        background-color: transparent;
        color: $rojo;
        border: solid $rojo 2px;
    }
} 
.mainQS{
    .imagenesQS{
        width: 950px;
        height: 550px;
    }
    .seccionQS{
        height: 550px;
    }
    .iconoQS{
        height: 90px;
        width: 90px;
        margin: 50px;
        margin-left: 150px;
    }
    .logoQS{
        height: 90px;
        width: 120px;
        margin: 50px;
        margin-left: 250px;
    }
    .tituloQS{
        font-family: $letraSofre;
        color: $letrazul;
        margin-left: 150px;
        margin-right: 250px;
        margin-top: 10px;
        font-size: 250%;
    }
    .textoQS{
        font-family: $letraSofre;
        color: $letrazul;
        margin-left: 150px;
        font-size: 120%;
        margin-top: 50px;
        margin-right: 250px;
    }
    .linkBotones{
        text-decoration: none;
    }
    .btn-light{
        width: 300px;
        height: 180px;
        border-radius: 15px;
        box-shadow: 2px 2px 3px rgb(232, 228, 228);
        padding-left: 35px;
        margin-top: -70px;
        margin-bottom: 50px;
        margin-left: 30px;
        margin-right: 30px;
        background-color: white;
    }
    .imagenBotones{
        width: 50px;
        height: 50px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .imagenBotonesClientes{
        width: 60px;
        height: 50px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .textoBotones{
        font-size: 1.1rem;
        color: $letrazul;
        padding: 0px;
        margin: 0;
        margin-left: 5px;
    }
    .btn-light:hover{
        transform: scale(1.1);
    }
    .sectTreinta{
        background-color: $fondoClarito;
    }
    .sectTextoTreinta{
        padding-right: 0;
        padding-left: 350px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .imagenTreinta{
        margin-top: 70px;
        margin-bottom: 70px;
        padding-right: 250px;
        padding-left: 0;
    }
    .iconoTreinta{
        width: 60px;
        height: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .tituloTreinta{
        color: $letraverdeagua;
        font-family: $letraSofre;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 210%;
    }
    .textoTreinta{
        color: $letrazul;
        font-family: $letraSofre;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 70px;
    }
    .sectMngt{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .sectIconMngt{
        padding-left: 350px;
    }
    .iconoMngt{
        width: 60px;
        height: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .tituloMngt{
        color: $letraverdeagua;
        font-family: $letraSofre;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 210%;
    }
    .btn-success{
        background-color: $verdeaguaoscuro;
        border: solid $verdeaguaoscuro;
        padding: 10px;
        box-shadow: 2px 2px 3px rgb(232, 228, 228);
        width: 200px;
        height: 70px;
        border-radius: 50px;
    }
    .sectTextoMngt{
        height: 600px;
    }
    .imagenMngt{
        width: 300px;
        height: 400px;
        margin-top: 150px;
    }
    .nombreMngt{
        color: $letraverdeagua;
        font-family: $letraSofre;
        margin-top: 150px;
        margin-bottom: 20px;
        padding-left: 50px;
    }
    .textoMngt{
        color: $letrazul;
        font-family: $letraSofre;
        padding-left: 50px;
        padding-right: 300px;
    }
    .cifrasClave{
        background-color: $verdeaguaoscuro;
    }
    .headerCC{
        margin: 50px;
        padding-left: 250px;
    }
    .iconoCC{
        height: 90px;
        width: 90px;
    }
    .tituloCC{
        color: $blanco;
        font-family: $letraSofre;
        font-size: 200%;
        padding-left: 10px;
    }
    .sectCircCC{
        padding-left: 250px;
        padding-right: 250px;
    }
    .casilleroCC{
        width: 200px;
        height: 400px;
    }
    .circuloCC{
        width: 200px;
        height: 200px;
        background-color: $fondoVerde;
        border: solid 1px $fondoVerde;
        border-radius: 150px;
        text-align: center;
    }
    .tituloCircCC{
        color: $blanco;
        font-family: $letraSofre;
        font-size: 330%;
        font-weight: 500;
        text-align: center;
        margin: 0;
    }
    .textoCircCC{
        color: $fondoVerde;
        font-family: $letraSofre;
        text-align: center;
        padding-top: 20px;
    }
    .sectMundo{
        background-image: url(../images/quienessomos/Sofre-mundo.jpg);
        background-size: cover;
        height: 800px;    
    }
    .iconoMundo{
        width: 70px;
        height: 70px;
        margin-top: 90px;
        margin-bottom: 20px;
        margin-left: 250px;
    }
    .tituloMundo{
        color: $letraverdeagua;
        font-family: $letraSofre;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 210%;
        padding-left: 250px;
    }
    .textoMundo{
        color: $blanco;
        font-family: $letraSofre;
        padding-left: 250px;
    }
    .sectPartners{
        background-color: $fondoClarito;
        height: 300px;
    }
    .headerPartners{
        margin-top: 70px;
        margin-left: 250px;
    }
    .iconoPartners{
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
    }
    .tituloPartners{
        color: $letraverdeagua;
        font-family: $letraSofre;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 210%;
    }
    .headerClientes{
        margin-top: 70px;
        margin-left: 250px;
    }
    .iconoClientes{
        width: 80px;
        height: 70px;
        margin-bottom: 20px;
    }
    .tituloClientes{
        color: $letraverdeagua;
        font-family: $letraSofre;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 210%;
    }
    .textoClientes{
        color: $letrazul;
        font-family: $letraSofre;
        font-size: 90%;
    }
    .sectCompr{
        background-color: $fondoVerde;
        background-size: 50%;
    }
    .AccQS{
        padding-left: 170px;
        padding-right: 170px;
    }
    .imagenesAccQS{
        width: 950px;
        height: 550px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .iconoAccQS{
        width: 60px;
        height: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .tituloAccQS{
        color: $letraverdeagua;
        font-family: $letraSofre;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 200%;
    }
    .textoAccQS{
        color: $blanco;
        font-family: $letraSofre;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .accordion{
        margin-bottom: 50px;
        font-family: $letraSofre;
    }
    .accordion-item{
        border: transparent;
        border-bottom: solid 1px $letrazul;
        border-radius: 0px;
    }
    .accordion-item:focus{
        border-bottom: solid 1px $blanco;
    }
    .accordion-header{
        color: $letrazul;
        border-radius: 0px;  
    }
    .accordion-button{
        color: $letrazul; 
        font-weight: 600;
        border-radius: 0px;
        background-color: none;  
    }
    .accordion-button:focus{
        color: $letraverdeagua;
        border-bottom: solid 1px $letraverdeagua;
        border-radius: 0px;
        box-shadow: none;
        background-color: $blanco;
    }
    .accordion-body{
        color: $letrazul;
    }
    .proyecto{
        margin: 70px;
        margin-left: 120px;
        padding: 0;
    }
    .imagenProyecto{
        height: 550px;
        width: 500px;
        margin: 0;
        padding: 0;
    }
    .iconoProyecto{
        height: 130px;
        width: 130px;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        z-index:10;
    }
    .tituloProyecto{
        font-family: $letraSofre;
        font-size: 180%;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .formProyecto{
        margin-top: 120px;
        padding-right: 150px;
        padding-left: 100px;
        background-color: $fondoClarito;
    }
    .mb-3{
        box-sizing: 10px;
    }
    .form-control{
        border: solid $negro 0.5px;
        border-radius: 0px;
    }
    .form-control:focus{
        box-shadow: none;
        border: solid $rojo 1px;
    }
    .btn-secondary{
        background-color: $rojo;
        border: solid $rojo 2px;
        border-radius: 104px;
        padding-left: 250px;
        padding-right: 250px;
        margin: 50px;
    }
    .btn-secondary:hover{
        background-color: transparent;
        color: $rojo;
        border: solid $rojo 2px;
    }
}
.mainQH{
    .imagenesQH{
        width: 950px;
        height: 550px;
    }
    .seccionQH{
        height: 550px;
    }
    .iconoQH{
        height: 90px;
        width: 90px;
        margin: 50px;
        margin-left: 150px;
    }
    .logoQH{
        height: 90px;
        width: 120px;
        margin: 50px;
        margin-left: 250px;
    }
    .tituloQH{
        font-family: $letraSofre;
        color: $letrazul;
        margin-left: 150px;
        margin-right: 250px;
        margin-top: 10px;
        font-size: 250%;
    }
    .textoQH{
        font-family: $letraSofre;
        color: $letrazul;
        margin-left: 150px;
        font-size: 120%;
        margin-top: 50px;
    }
    .linkBotones{
        text-decoration: none;
    }
    .btn-light{
        width: 300px;
        height: 180px;
        border-radius: 15px;
        box-shadow: 2px 2px 3px rgb(232, 228, 228);
        padding-left: 35px;
        margin-top: -70px;
        margin-bottom: 50px;
        margin-left: 30px;
        margin-right: 30px;
        background-color: white;
    }
    .imagenBotones{
        width: 50px;
        height: 50px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .textoBotones{
        font-size: 1.1rem;
        color: $letrazul;
        padding: 0px;
        margin: 0;
        margin-left: 5px;
    }
    .btn-light:hover{
        transform: scale(1.1);
    }
    .AccClarito{
        background-color: $fondoClarito;
    }
    .imagenesAccQH{
        width: 950px;
        height: 550px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .AccQH{
        padding-left: 170px;
        padding-right: 170px;
    }
    .iconoAccQH{
        width: 60px;
        height: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .tituloAccQH{
        color: $rojo;
        font-family: $letraSofre;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 200%;
    }
    .textoAccQH{
        color: $letrazul;
        font-family: $letraSofre;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .accordion{
        margin-bottom: 50px;
        font-family: $letraSofre;
    }
    .accordion-item{
        border: transparent;
        border-bottom: solid 1px $letrazul;
        border-radius: 0px;
    }
    .accordion-item:focus{
        border-bottom: solid 1px $blanco;
    }
    .accordion-header{
        color: $letrazul;
        border-radius: 0px;  
    }
    .accordion-button{
        color: $letrazul; 
        font-weight: 600;
        border-radius: 0px;
        background-color: none;  
    }
    .accordion-button:focus{
        color: $rojo;
        border-bottom: solid 1px $rojo;
        border-radius: 0px;
        box-shadow: none;
        background-color: $blanco;
    }
    .accordion-body{
        color: $letrazul;
    }
    .proyecto{
        margin: 70px;
        margin-left: 120px;
        padding: 0;
    }
    .imagenProyecto{
        height: 550px;
        width: 500px;
        margin: 0;
        padding: 0;
    }
    .iconoProyecto{
        height: 130px;
        width: 130px;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        z-index:10;
    }
    .tituloProyecto{
        font-family: $letraSofre;
        font-size: 180%;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .formProyecto{
        margin-top: 120px;
        padding-right: 150px;
        padding-left: 100px;
        background-color: $fondoClarito;
    }
    .mb-3{
        box-sizing: 10px;
    }
    .form-control{
        border: solid $negro 0.5px;
        border-radius: 0px;
    }
    .form-control:focus{
        box-shadow: none;
        border: solid $rojo 1px;
    }
    .btn-secondary{
        background-color: $rojo;
        border: solid $rojo 2px;
        border-radius: 104px;
        padding-left: 250px;
        padding-right: 250px;
        margin: 50px;
    }
    .btn-secondary:hover{
        background-color: transparent;
        color: $rojo;
        border: solid $rojo 2px;
    }
} 
.mainTCN{
    .imagenesTCN{
        width: 950px;
        height: 550px;
    }
    .seccionTCN{
        height: 550px;
    }
    .iconoTCN{
        height: 90px;
        width: 90px;
        margin: 50px;
        margin-left: 150px;
    }
    .logoTCN{
        height: 90px;
        width: 120px;
        margin: 50px;
        margin-left: 250px;
    }
    .tituloTCN{
        font-family: $letraSofre;
        color: $letrazul;
        margin-left: 150px;
        margin-right: 250px;
        margin-top: 10px;
        font-size: 250%;
    }
    .textoTCN{
        font-family: $letraSofre;
        color: $letrazul;
        margin-left: 150px;
        font-size: 110%;
        margin-top: 50px;
        margin-right: 250px;
    }
    .linkBotones{
        text-decoration: none;
    }
    .btn-light{
        width: 300px;
        height: 180px;
        border-radius: 15px;
        box-shadow: 2px 2px 3px rgb(232, 228, 228);
        padding-left: 35px;
        margin-top: -70px;
        margin-bottom: 50px;
        margin-left: 30px;
        margin-right: 30px;
        background-color: white;
    }
    .imagenBotones{
        width: 50px;
        height: 50px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .imagenBotonesEsp{
        width: 60px;
        height: 50px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .textoBotones{
        font-size: 1.1rem;
        color: $letrazul;
        padding: 0px;
        margin: 0;
        margin-left: 5px;
    }
    .btn-light:hover{
        transform: scale(1.1);
    }
    .sectOp{
        background-color: $fondoClarito;
        height: 500px;
    }
    .headerOp{
        margin-top: 50px;
        margin-left: 150px;
    }
    .iconoOp{
        width: 60px;
        height: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .tituloOp{
        color: $violeta;
        font-family: $letraSofre;
        font-size: 200%;
        margin-top: 10px;
    }
    .textoOp{
        color: $letrazul;
        font-family: $letraSofre;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        font-size: 90%;
    }
    .textoOpEsp{
        color: $letrazul;
        font-family: $letraSofre;
        margin: 0;
        padding: 0;
        font-size: 90%;
    }
    .cuadrosOp{
        width: 600px;
        height: 200px;
        background-color: $blanco;
        margin: 10px;
        margin-top: -100px;
        border-radius: 15px;
        box-shadow: 2px 2px 3px rgb(232, 228, 228);
    }
    .imagenesCuadrosOp{
        width: 550px;
        height: 100px;
        padding-top: 10px;
    }
    .textoCuadrosOp{
        color: $violeta;
        font-family: $letraSofre;
        font-weight: 500;
        padding-top: 20px;
        margin: 0;
    }
    .sectBeneficios{
        background-color: $violeta;
        margin-top: 30px;
    }
    .headerTCNBeneficios{
        margin: 50px;
        padding-left: 250px;
    }
    .tituloylogoTCNBeneficios{
        margin-bottom: 30px;
    }
    .iconoTCNBeneficios{
        height: 90px;
        width: 90px;
    }
    .tituloTCNBeneficios{
        color: $blanco;
        font-family: $letraSofre;
        font-size: 180%;
        padding-left: 10px;
    }
    .textoTCNBeneficios{
        color: $blanco;
        font-family: $letraSofre;
        font-size: 90%;
        padding-top: 10px;
    }
    .sectCircTCN{
        padding-left: 250px;
        padding-right: 250px;
        margin-bottom: 50px;
    }
    .casilleroTCN{
        width: 250px;
        height: 300px;
        
    }
    .imagenCircTCN{
        width: 150px;
        height: 150px;
    }
    .textoCircTCN{
        color: $blanco;
        font-family: $letraSofre;
        text-align: center;
        padding-top: 20px;
    }
    .CVTCN{
        margin: 70px;
        margin-left: 120px;
        padding: 0;
    }
    .imagenformTCN{
        height: 550px;
        width: 500px;
        margin: 0;
        padding: 0;
    }
    .iconoformTCN{
        height: 130px;
        width: 130px;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        z-index:10;
    }
    .tituloformTCN{
        font-family: $letraSofre;
        font-size: 180%;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .formTCN{
        margin-top: 120px;
        padding-right: 150px;
        padding-left: 100px;
        background-color: $fondoClarito;
    }
    .mb-3{
        box-sizing: 10px;
    }
    .form-control{
        border: solid $negro 0.5px;
        border-radius: 0px;
    }
    .form-control:focus{
        box-shadow: none;
        border: solid $violeta 1px;
    }
    .btn-secondary{
        background-color: $violeta;
        border: solid $violeta 2px;
        border-radius: 104px;
        padding-left: 250px;
        padding-right: 250px;
        margin: 50px;
    }
    .btn-secondary:hover{
        background-color: transparent;
        color: $violeta;
        border: solid $violeta 2px;
    }
}   

