.container-fluid{
    margin: 0;
    padding: 0;
}

$rojo: rgb(229, 72, 72);
$blanco: white;
$verdeagua: rgb(92, 211, 171);
$violeta: rgb(161, 78, 161);
$azul: rgb(23, 133, 222);
$negro: black;
$letrazul: rgb(19, 58, 97);
$letraclarita: rgb(111, 115, 119);
$letraceleste: rgb(97, 168, 235); 
$letraverdeagua: rgb(24, 219, 202);
$verdeaguaoscuro: rgb(18, 201, 185);
$fondoVerde: rgb(1, 62, 73);
$fondoClarito: rgb(246, 246, 255);
$celeste: rgb(66, 208, 255);
$celesteOscuro: rgb(0, 164, 240);
$gris: rgb(131, 131, 131);

$letraSofre: 'Hepta Slab', serif;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);