.container-fluid{
    margin: 0;
    padding: 0;
}

$rojo: rgb(229, 72, 72);
$blanco: white;
$verdeagua: rgb(114, 255, 208);
$violeta: rgb(161, 78, 161);
$azul: rgb(33, 124, 245);
$negro: black;
$letrazul: rgb(19, 58, 97);
$letraverdeagua: rgb(24, 219, 202);
$fondoVerde: rgb(1, 62, 73);
$fondoClarito: rgb(246, 246, 255);

$letraSofre: 'Hepta Slab', serif;